.board-grid {
    position: relative;
    height: 100%;
}
.board-grid__axis {
    border: 1px solid #C7CCD2;
    line-height: 32px;
}
.board-grid__axis_x {
    height: 32px;
    text-align: center;
}
.board-grid__axis_y {
    width: 32px;
    display: flex;
    border-top: 0;
    float: left;
    height: 100%;
}
.board-grid__rotated-text {
    display: inline-block;
    margin: auto;
    overflow: hidden;
    width: 32px;
    line-height: 32px;
}
.board-grid__rotated-text:nth-child(2),
.board-grid__rotated-text:nth-child(3) {
    display: none;
}
.board-grid__rotated-text-inner {
    display: inline-block;
    white-space: nowrap;
    -webkit-transform: translate(0,100%) rotate(-90deg);
    -webkit-transform-origin: 0 0;
}
.board-grid__rotated-text-inner:after {
    content: "";
    float: left;
    margin-top: 100%;
}
.board-grid__axis-text {
    overflow: hidden;
    display: inline-block;
}
.board-grid__axis-text:nth-child(2),
.board-grid__axis-text:nth-child(3) {
    display: none;
}
.board-grid__cell {
    float: left;
    height: 100%;
}