<b:style src="board-grid.css"/>
<div class="board-grid">
        <div class="board-grid__axis board-grid__axis_x"></div>
        <div  class="board-grid__axis board-grid__axis_y"></div>
        <div class="board-grid__cell" ></div>
</div>