@charset "UTF-8";

/*****************************************************************************************************

    Styles for board-unit elements (standalone reusable elements with-in a board).

    Contents:

        = Units
            - Abstract unit
            - Unit alignment
            - Unit drag-n-drop
            - Units' dimensions
            - Units' selection
            - "List" unit
            - "Relations Counter In-Out" unit
            - "User Info" unit
            - "Build Date" unit
            - "Date Range" unit
            - "Userstories & Bugs Sparklines" unit
            - "Custom Url" unit
            - "Custom Related Entity" unit
        = Units' components
            - Unit's values and points
            - Unit's links
            - Unit's badges
            - Unit's icons
            - Unit's inline edit
            - Other unit's components
        = Junk


*****************************************************************************************************/



/* Units
====================================================================================================*/



/* Abstract unit
----------------------------------------------------------------------------------------------------*/

.tau-board-unit {

    font-size: 11px;

    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;

    margin: 2px;

    max-width: 100%;

    line-height: 0;

    white-space: nowrap;

    border-style: solid;
    border-color: transparent;
    border-width: 0 3px;

    color: #728397;

}

.tau-board-unit.tau-board-unit_format_max {

    display: block;

    max-width: 100%;

}

.tau-board-unit.tau-is-not-available {

    display: none;

}

.tau-board-layout-components-set__item .tau-board-unit {

    vertical-align: middle;

}

.tau-board-layout-compositor__subject .tau-board-unit.tau-board-unit_hovered {

    box-shadow: 0.090909em 0.090909em .0909090909090909em rgba(0,0,0,0.15),0 0 2px 1px rgba(231, 213, 0, 0.5);

}

.tau-board-layout-compositor__subject .tau-board-unit.tau-board-unit_highlighted {

    box-shadow: 0.090909em 0.090909em .0909090909090909em rgba(0,0,0,0.15),0 0 4px 2px rgba(231, 213, 0, 0.5);

}



/* Unit alignment
----------------------------------------------------------------------------------------------------*/

.tau-card-v2 .tau-board-unit:not(.tau-board-unit_format_max).tau-board-unit_alignment_base {

    float: left;

}

.tau-card-v2 .tau-board-unit:not(.tau-board-unit_format_max).tau-board-unit_alignment_alt {

    float: right;

}



.tau-card-v2 .tau-board-unit:not(.tau-board-unit_format_max).tau-board-unit_alignment_base-last {

    margin-right: 4px;

}



.tau-card-v2 .tau-board-unit:not(.tau-board-unit_format_max).tau-board-unit_alignment_alt-last {

    margin-left: 4px;

}



/* Unit drag-n-drop
----------------------------------------------------------------------------------------------------*/

.tau-board-unit_dnd_source {

    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    cursor: move;

    border-width: 3px;
    border-radius: 3px;

    background: #fff;

}

.tau-not-drop .tau-board-unit_dnd_source {
    cursor: not-allowed;
}

.tau-card-v2__section .tau-board-unit_dnd_source {

    box-shadow: 1px 1px 1px rgba(0,0,0,0.15);

    background: #f3f6f9;

}

.tau-board-layout-components-set__item.tau-is-active .tau-board-unit_dnd_source {

    opacity: 0.4;

}

.tau-board-layout-components-set__item.tau-is-disabled .tau-board-unit_dnd_source {

    cursor: default;

}



.tau-board-unit_dnd_helper {

    opacity: 0.8;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);

    border-width: 3px;
    border-radius: 3px;

    background: #e0e9f4;

    -webkit-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);

}



.tau-board-unit_dnd_proxy {

    border: 1px dashed #1c8bd4;

    padding: 2px;

}



.tau-board-unit_dnd_proxy > *,
.tau-board-unit_dnd_proxy:before,
.tau-board-unit_dnd_proxy:after {

    visibility: hidden;

}



/* Units' dimensions
----------------------------------------------------------------------------------------------------*/

.tau-board-unit_type_state:not(.tau-board-unit_format_max),
.tau-board-unit_type_release:not(.tau-board-unit_format_max),
.tau-board-unit_type_iteration:not(.tau-board-unit_format_max),
.tau-board-unit_type_teamiteration:not(.tau-board-unit_format_max),
.tau-board-unit_type_feature:not(.tau-board-unit_format_max),
.tau-board-unit_type_userstory:not(.tau-board-unit_format_max),
.tau-board-unit_type_task:not(.tau-board-unit_format_max),
.tau-board-unit_type_bug:not(.tau-board-unit_format_max),
.tau-board-unit_type_build:not(.tau-board-unit_format_max),
.tau-board-unit_type_testcase:not(.tau-board-unit_format_max),
.tau-board-unit_type_testrun:not(.tau-board-unit_format_max),
.tau-board-unit_type_testplan:not(.tau-board-unit_format_max),
.tau-board-unit_type_testplanrun:not(.tau-board-unit_format_max),
.tau-board-unit_type_project:not(.tau-board-unit_format_max),
.tau-board-unit_type_request:not(.tau-board-unit_format_max),
.tau-board-unit_type_last-commented-user:not(.tau-board-unit_format_max),
.tau-board-unit_type_failure-comment:not(.tau-board-unit_format_max),
.tau-board-unit_type_severity:not(.tau-board-unit_format_max),
.tau-board-unit_type_user-name:not(.tau-board-unit_format_max),
.tau-board-unit_type_user-login:not(.tau-board-unit_format_max),
.tau-board-unit_type_user-email:not(.tau-board-unit_format_max),
.tau-board-unit_type_role:not(.tau-board-unit_format_max),
.tau-board-unit_type_team-name:not(.tau-board-unit_format_max),
.tau-board-unit_type_custom-checkbox:not(.tau-board-unit_format_max),
.tau-board-unit_type_custom-checkbox-checked:not(.tau-board-unit_format_max),
.tau-board-unit_type_custom-url:not(.tau-board-unit_format_max) {

    max-width: 121px;

}

.tau-board-unit_type_state:not(.tau-board-unit_format_max).tau-board-unit_maximized,
.tau-board-unit_type_release:not(.tau-board-unit_format_max).tau-board-unit_maximized,
.tau-board-unit_type_iteration:not(.tau-board-unit_format_max).tau-board-unit_maximized,
.tau-board-unit_type_teamiteration:not(.tau-board-unit_format_max).tau-board-unit_maximized,
.tau-board-unit_type_feature:not(.tau-board-unit_format_max).tau-board-unit_maximized,
.tau-board-unit_type_userstory:not(.tau-board-unit_format_max).tau-board-unit_maximized,
.tau-board-unit_type_task:not(.tau-board-unit_format_max).tau-board-unit_maximized,
.tau-board-unit_type_bug:not(.tau-board-unit_format_max).tau-board-unit_maximized,
.tau-board-unit_type_build:not(.tau-board-unit_format_max).tau-board-unit_maximized,
.tau-board-unit_type_testcase:not(.tau-board-unit_format_max).tau-board-unit_maximized,
.tau-board-unit_type_testrun:not(.tau-board-unit_format_max).tau-board-unit_maximized,
.tau-board-unit_type_testplan:not(.tau-board-unit_format_max).tau-board-unit_maximized,
.tau-board-unit_type_testplanrun:not(.tau-board-unit_format_max).tau-board-unit_maximized,
.tau-board-unit_type_project:not(.tau-board-unit_format_max).tau-board-unit_maximized,
.tau-board-unit_type_request:not(.tau-board-unit_format_max).tau-board-unit_maximized,
.tau-board-unit_type_last-commented-user:not(.tau-board-unit_format_max).tau-board-unit_maximized,
.tau-board-unit_type_failure-comment:not(.tau-board-unit_format_max).tau-board-unit_maximized,
.tau-board-unit_type_severity:not(.tau-board-unit_format_max).tau-board-unit_maximized,
.tau-board-unit_type_user-name:not(.tau-board-unit_format_max).tau-board-unit_maximized,
.tau-board-unit_type_user-login:not(.tau-board-unit_format_max).tau-board-unit_maximized,
.tau-board-unit_type_user-email:not(.tau-board-unit_format_max).tau-board-unit_maximized,
.tau-board-unit_type_role:not(.tau-board-unit_format_max).tau-board-unit_maximized,
.tau-board-unit_type_team-name:not(.tau-board-unit_format_max).tau-board-unit_maximized,
.tau-board-unit_type_custom-checkbox:not(.tau-board-unit_format_max).tau-board-unit_maximized,
.tau-board-unit_type_custom-checkbox-checked:not(.tau-board-unit_format_max).tau-board-unit_maximized,
.tau-board-unit_type_custom-url:not(.tau-board-unit_format_max).tau-board-unit_maximized {

    width: 121px;

}



.tau-board-unit_type_business-value:not(.tau-board-unit_format_max) {

    max-width: 165px;

}

.tau-board-unit_type_business-value:not(.tau-board-unit_format_max).tau-board-unit_maximized {

    width: 165px;

}



.tau-board-unit_type_tags-list-s:not(.tau-board-unit_format_max) {

    max-width: 158px /* /M{15}/ */;

}

.tau-board-unit_type_tags-list-s:not(.tau-board-unit_format_max).tau-board-unit_maximized {

    width: 158px /* /M{15}/ */;

}



.tau-board-unit_type_tags-list-xs:not(.tau-board-unit_format_max) {

    max-width: 89px /* /M{8}/ */;

}

.tau-board-unit_type_tags-list-xs:not(.tau-board-unit_format_max).tau-board-unit_maximized {

    width: 89px /* /M{8}/ */;

}



.tau-board-unit_type_entity-name:not(.tau-board-unit_format_max) {

    max-width: 165px;

}

.tau-board-unit_type_entity-name:not(.tau-board-unit_format_max).tau-board-unit_maximized {

    width: 165px;

}




/* Units' selection
----------------------------------------------------------------------------------------------------*/

.tau-board-unit_selected,
.tau-card-v2.i-role-permanent-context-menu-tags .tau-board-unit_type_tags-list,
.tau-card-v2.i-role-permanent-context-menu-tags .tau-board-unit_type_tags-list-s,
.tau-card-v2.i-role-permanent-context-menu-tags .tau-board-unit_type_tags-list-xs,
.tau-card-v2.i-role-permanent-context-menu-assignments .tau-board-unit_type_avatars-list,
.tau-card-v2.i-role-permanent-context-menu-assignments .tau-board-unit_type_effort-total,
.tau-card-v2.i-role-permanent-context-menu-assignments .tau-board-unit_type_effort-total-e,
.tau-card-v2.i-role-permanent-context-menu-assignments .tau-board-unit_type_effort-todo-total,
.tau-card-v2.i-role-permanent-context-menu-assignments .tau-board-unit_type_effort-todo-total-e {

    box-shadow: 0px 3px 0px 0px #f8e06f, 0px -3px 0px 0px #F8E06F;

    border-radius: 3px;

    background: #F8E06F;

}



/* "List" unit
----------------------------------------------------------------------------------------------------*/

.tau-board-unit_type_list__item {

    display: inline-block;

    vertical-align: bottom;

}

.tau-board-unit_type_list__item + .tau-board-unit_type_list__item {

    margin-left: 4px;

}

[class*="tau-board-unit_type_tags-list"] .tau-board-unit_type_list__item {

    overflow: hidden;

    max-width: 80%;

    line-height: 20px;

    margin: 0;

}

[class*="tau-board-unit_type_tags-list"] .tau-board-unit_type_list__item:last-child {

    max-width: none;

}

[class*="tau-board-unit_type_tags-list"] .tau-board-unit_type_list__item:not(:first-child):before {

    content: ',';

    margin: 0 3px 0 1px;

}



.tau-board-unit_type_list__others-counter {

    margin-left: 4px;


}

.tau-board-unit_type_list__others-counter:before {

    content: '+';

}



.tau-board-unit_type_list__total-counter {

    margin-right: 4px;

}



/* "Relations Counter In-Out" unit
----------------------------------------------------------------------------------------------------*/

.tau-board-unit_type_relations-counter-in-out {

    position: relative;

}



/* "User Info" unit
----------------------------------------------------------------------------------------------------*/

.tau-board-unit_type_user-info {

    display: block;

    line-height: normal;

}



.tau-board-unit_type_user-info__avatar {

    float: left;

    margin: 0 8px 0 0;

    border-radius: 3px;

    width: 50px;
    height: 50px;

}



.tau-board-unit_type_user-info__name,
.tau-board-unit_type_user-info__role {

    overflow: hidden;

}

.tau-board-unit_type_user-info__name {

    font-size: 14px;

    margin: 7px 10px 0 0;

    color: #12343b;

}

.tau-board-unit_type_user-info__role {

    font-size: 12px;

    margin-right: 10px;

}



/* "Build Date" unit
----------------------------------------------------------------------------------------------------*/

.tau-board-unit_type_build-date__date,
.tau-board-unit_type_build-date__time {

    display: inline-block;

}

.tau-board-unit_type_build-date__time {

    margin-left: 2px;

}



/* "Date Range" unit
----------------------------------------------------------------------------------------------------*/

.tau-board-unit_type_date-range__start-date,
.tau-board-unit_type_date-range__end-date {

    display: inline-block;

}



.tau-board-unit_type_date-range__end-date:before {

    content: '—';

    width: 11px;

    margin: 0 2px;

}

.tau-board-unit_type_date-range__start-date.tau-date-range_current,
.tau-board-unit_type_date-range__end-date.tau-date-range_current
{
    color: #8fb947;
}



/* "Userstories & Bugs Sparklines" unit
----------------------------------------------------------------------------------------------------*/

.tau-board-unit_type_stories-bugs-sparklines__us-chart,
.tau-board-unit_type_stories-bugs-sparklines__bugs-chart {

    display: inline-block;

}

.tau-board-unit_type_stories-bugs-sparklines__us-chart + .tau-board-unit_type_stories-bugs-sparklines__bugs-chart {

    margin-left: 4px;

}



/* "Custom Url" unit
----------------------------------------------------------------------------------------------------*/

.tau-board-unit_type_custom-url {

    position: relative;

    padding-right: 15px;

}



/* "Custom Related Entity" unit
----------------------------------------------------------------------------------------------------*/

.tau-board-unit_type_custom-related-entity {

    position: relative;

    padding-left: 16px;

}

.tau-board-unit_type_custom-related-entity:after {

    content: '';

    position: absolute;
    left: 0;
    top: 0;

}



/* Units' components
====================================================================================================*/



/* Unit's values and points
----------------------------------------------------------------------------------------------------*/

.tau-board-unit__value,
.tau-board-unit__value_type_day,
.tau-board-unit__value_type_month,
.tau-board-unit__value_type_year,
.tau-board-unit__value_type_hours,
.tau-board-unit__value_type_minutes,
.tau-board-unit__value_type_abbr,
.tau-board-unit__value-open,
.tau-board-unit__value-total,
.tau-board-unit__value-passed,
.tau-board-unit__value-failed,
.tau-board-unit__value-ignored,
.tau-board-unit__value-todo,
.tau-board-unit__value-remain,
.tau-board-unit__value-spent,
.tau-board-unit__value-in,
.tau-board-unit__value-out,
.tau-board-unit__points,
.tau-board-unit_type_percent-participating:after,
.tau-board-unit_type_progress:after,
.tau-board-unit_type_allocation:after,
.tau-board-unit_type_time-cycle:before,
.tau-board-unit_type_time-lead:before,
.tau-board-unit_type_time-remain-spent:after,
.tau-board-unit_type_date-range__end-date:before,
.tau-board-unit_type_list__others-counter,
.tau-board-unit_type_list__total-counter,
.tau-board-unit_type_status-observer:before,
.tau-board-unit_type_status-admin:before,
.tau-board-unit_type_status-active:before,
.tau-board-unit_type_status-inactive:before {

    display: inline-block;
    overflow: hidden;

    vertical-align: bottom;

    line-height: 20px;

}

/* day-value */

.tau-board-unit__value_type_day {

    max-width: 16px /* /9{2}/ */;

}

.tau-board-unit_maximized .tau-board-unit__value_type_day {

    width: 16px /* /9{2}/ */;

}

.tau-board-unit_maximized.tau-board-unit_type_date .tau-board-unit__value_type_day {

    text-align: right;

}

.tau-board-unit_maximized.tau-board-unit_type_planned_dates .tau-board-unit__value_type_day,
.tau-board-unit_maximized.tau-board-unit_type_date-range .tau-board-unit__value_type_day {

    text-align: center;

}

/* month-value */

.tau-board-unit__value_type_month {

    max-width: 25px /* /May/ */;

}

.tau-board-unit_maximized .tau-board-unit__value_type_month {

    width: 25px /* /May/ */;

}

.tau-board-unit__value_type_day + .tau-board-unit__value_type_month {

    margin-left: 2px;

}

.tau-board-unit_maximized.tau-board-unit_type_planned_dates .tau-board-unit__value_type_month,
.tau-board-unit_maximized.tau-board-unit_type_date .tau-board-unit__value_type_month,
.tau-board-unit_maximized.tau-board-unit_type_date-range .tau-board-unit__value_type_month {

    text-align: center;

}

/* year-value */

.tau-board-unit__value_type_year {

    max-width: 29px /* /9{4}/ */;

}

.tau-board-unit_maximized .tau-board-unit__value_type_year {

    width: 29px /* /9{4}/ */;

}

.tau-board-unit__value_type_month + .tau-board-unit__value_type_year {

    margin-left: 2px;

}

/* hours-value */

.tau-board-unit__value_type_hours {

    max-width: 16px /* /9{2}/ */;

}

.tau-board-unit_maximized .tau-board-unit__value_type_hours {

    width: 16px /* /9{2}/ */;

}

.tau-board-unit_type_date-time .tau-board-unit__value_type_hours {

    margin-left: 4px;

}

.tau-board-unit_type_date-time.tau-board-unit_maximized .tau-board-unit__value_type_hours {

    text-align: right;

}

/* minutes-value */

.tau-board-unit__value_type_minutes {

    max-width: 16px /* /9{2}/ */;

}

.tau-board-unit_maximized .tau-board-unit__value_type_minutes {

    width: 16px /* /9{2}/ */;

}

.tau-board-unit__value_type_hours + .tau-board-unit__value_type_minutes {

    max-width: 19px /* /\:9{2}/ */;

}

.tau-board-unit_maximized .tau-board-unit__value_type_hours + .tau-board-unit__value_type_minutes {

    width: 19px /* /\:9{2}/ */;

}

.tau-board-unit__value_type_hours + .tau-board-unit__value_type_minutes:before {

    content: ':';

}

/* abbr-value */

.tau-board-unit__value_type_abbr {

    padding: 0 4px;

    max-width: 30px /* /M{3}/ */;

    color: #16343C;

    text-align: center;

    box-shadow: inset 0 0 1px rgba(0,0,0,0.3);

}

.tau-board-unit_maximized .tau-board-unit__value_type_abbr {

    width: 30px /* /M{3}/ */;

}

/* denominator-value */

.tau-board-unit_type_bugs-counter-open-total .tau-board-unit__value-total:before,
.tau-board-unit_type_bugs-counter-open-total-e .tau-board-unit__value-total:before,
.tau-board-unit_type_tasks-counter-open-total .tau-board-unit__value-total:before,
.tau-board-unit_type_userstories-counter-open-total .tau-board-unit__value-total:before,
.tau-board-unit_type_effort-todo-total .tau-board-unit__value-total:before,
.tau-board-unit_type_effort-todo-total-e .tau-board-unit__value-total:before,
.tau-board-unit_type_testruns-counter-open-total .tau-board-unit__value-total:before,
.tau-board-unit_type_features-counter-open-total .tau-board-unit__value-total:before {

    content: '/';

}

/* points */

.tau-board-unit__points,
.tau-board-unit_type_percent-participating:after,
.tau-board-unit_type_progress:after,
.tau-board-unit_type_time-remain-spent:after {

    opacity: 0.6;

}

/* for "ID" unit */

.tau-board-unit_type_id .tau-board-unit__value {

    max-width: 41px /* /9{6}/ */;

}

.tau-board-unit_type_id.tau-board-unit_maximized .tau-board-unit__value {

    width: 41px /* /9{6}/ */;

}

/* for "Progress" unit */

.tau-board-unit_type_progress:after {

    content: '%';

}

.tau-board-unit_type_progress .tau-board-unit__value {

    max-width: 22px /* /100/ */;

}

.tau-board-unit_type_progress.tau-board-unit_maximized .tau-board-unit__value,
.tau-board-unit_type_percent-participating.tau-board-unit_maximized .tau-board-unit__value{

    width: 22px /* /100/ */;

}

/* for "Percent Participating" unit */

.tau-board-unit_type_percent-participating .tau-board-unit__value {

    max-width: 28px /* /100/ */;

}

/* for "Impediment Counter Alt" unit */

.tau-board-unit_type_impediments-counter-alt .tau-board-unit__value {

    max-width: 10px /* /9/ */;

    color: #a91818;

}

.tau-board-unit_type_impediments-counter-alt.tau-board-unit_maximized .tau-board-unit__value {

    width: 10px /* /9/ */;

}

/* for "Impediments Counter" unit */

.tau-board-unit_type_impediments-counter .tau-board-unit__value {

    max-width: 9px /* /9/ */;

}

.tau-board-unit_type_impediments-counter.tau-board-unit_maximized .tau-board-unit__value {

    width: 9px /* /9/ */;

}

/* for "Bugs Counter" unit */

.tau-board-unit_type_bugs-counter .tau-board-unit__value {

    max-width: 13px /* /9{2}/ */;

}

.tau-board-unit_type_bugs-counter.tau-board-unit_maximized .tau-board-unit__value {

    width: 13px /* /9{2}/ */;

}

.tau-board-unit_type_bugs-counter-e .tau-board-unit__value {

    max-width: 18px /* /9{3}/ */;

}

.tau-board-unit_type_bugs-counter-e.tau-board-unit_maximized .tau-board-unit__value {

    width: 18px /* /9{3}/ */;

}

/* for "Tasks Counter" unit */

.tau-board-unit_type_tasks-counter .tau-board-unit__value {

    max-width: 13px /* /9{2}/ */;

}

.tau-board-unit_type_tasks-counter.tau-board-unit_maximized .tau-board-unit__value {

    width: 13px /* /9{2}/ */;

}

/* for "Userstory Counter" unit */

.tau-board-unit_type_userstories-counter .tau-board-unit__value {

    max-width: 18px /* /9{3}/ */;

}

.tau-board-unit_type_userstories-counter.tau-board-unit_maximized .tau-board-unit__value {

    width: 18px /* /9{3}/ */;

}

/* for "Requests Counter" unit */

.tau-board-unit_type_requests-counter .tau-board-unit__value {

    max-width: 13px /* /9{2}/ */;

}

.tau-board-unit_type_requests-counter.tau-board-unit_maximized .tau-board-unit__value {

    width: 13px /* /9{2}/ */;

}

/* for "Test Cases Counter" unit */

.tau-board-unit_type_testcases-counter .tau-board-unit__value {

    max-width: 19px /* /9{3}/ */;

}

.tau-board-unit_type_testcases-counter.tau-board-unit_maximized .tau-board-unit__value {

    width: 19px /* /9{3}/ */;

}

/* for "Test Cases Counter Alt" unit */

.tau-board-unit_type_testcases-counter-alt .tau-board-unit__value {

    max-width: 22px /* /9{3}/ */;

}

.tau-board-unit_type_testcases-counter-alt.tau-board-unit_maximized .tau-board-unit__value {

    width: 22px /* /9{3}/ */;

    text-align: center;

}

/* for "Test Cases Detailed Counter" unit */

.tau-board-unit_type_testcases-detailed-counter .tau-board-unit__value-passed,
.tau-board-unit_type_testcases-detailed-counter .tau-board-unit__value-failed,
.tau-board-unit_type_testcases-detailed-counter .tau-board-unit__value-ignored {

    max-width: 32px /* /9{3}/ */;

}

.tau-board-unit_type_testcases-detailed-counter .tau-board-unit__value-failed,
.tau-board-unit_type_testcases-detailed-counter .tau-board-unit__value-ignored {

    margin-left: 6px;

}

.tau-board-unit_type_testcases-detailed-counter.tau-board-unit_maximized .tau-board-unit__value-passed,
.tau-board-unit_type_testcases-detailed-counter.tau-board-unit_maximized .tau-board-unit__value-failed,
.tau-board-unit_type_testcases-detailed-counter.tau-board-unit_maximized .tau-board-unit__value-ignored {

    width: 32px /* /9{3}/ */;

    text-align: center;

}

/* for "Test Runs Counter" unit */

.tau-board-unit_type_testruns-counter .tau-board-unit__value {

    max-width: 19px /* /9{3}/ */;

}

.tau-board-unit_type_testruns-counter.tau-board-unit_maximized .tau-board-unit__value {

    width: 19px /* /9{3}/ */;

}

/* for "Test Runs Counter Open/Total" unit */

.tau-board-unit_type_testruns-counter-open-total .tau-board-unit__value-open {

    max-width: 22px /* /9{3}/ */;

}

.tau-board-unit_type_testruns-counter-open-total.tau-board-unit_maximized .tau-board-unit__value-open {

    width: 22px /* /9{3}/ */;

    text-align: right;

}

.tau-board-unit_type_testruns-counter-open-total .tau-board-unit__value-total {

    max-width: 26px /* /\/9{3}/ */;

}

.tau-board-unit_type_testruns-counter-open-total.tau-board-unit_maximized .tau-board-unit__value-total {

    width: 26px /* /\/9{3}/ */;

}

/* for "Features Counter" unit */

.tau-board-unit_type_features-counter .tau-board-unit__value {

    max-width: 19px /* /9{3}/ */;

}

.tau-board-unit_type_features-counter.tau-board-unit_maximized .tau-board-unit__value {

    width: 19px /* /9{3}/ */;

}

/* for "Features Counter Open/Total" unit */

.tau-board-unit_type_features-counter-open-total .tau-board-unit__value-open {

    max-width: 22px /* /9{3}/ */;

}

.tau-board-unit_type_features-counter-open-total.tau-board-unit_maximized .tau-board-unit__value-open {

    width: 22px /* /9{3}/ */;

    text-align: right;

}

.tau-board-unit_type_features-counter-open-total .tau-board-unit__value-total {

    max-width: 26px /* /\/9{3}/ */;

}

.tau-board-unit_type_features-counter-open-total.tau-board-unit_maximized .tau-board-unit__value-total {

    width: 26px /* /\/9{3}/ */;

}

/* for "Bugs Counter Open/Total" unit */

.tau-board-unit_type_bugs-counter-open-total .tau-board-unit__value-open {

    max-width: 16px /* /9{2}/ */;

}

.tau-board-unit_type_bugs-counter-open-total.tau-board-unit_maximized .tau-board-unit__value-open {

    width: 16px /* /9{2}/ */;

    text-align: right;

}

.tau-board-unit_type_bugs-counter-open-total .tau-board-unit__value-total {

    max-width: 20px /* /\/9{2}/ */;

}

.tau-board-unit_type_bugs-counter-open-total.tau-board-unit_maximized .tau-board-unit__value-total {

    width: 20px /* /\/9{2}/ */;

}

/* for "Bugs Counter Open/Total Extended" unit */

.tau-board-unit_type_bugs-counter-open-total-e .tau-board-unit__value-open {

    max-width: 22px /* /9{3}/ */;

}

.tau-board-unit_type_bugs-counter-open-total-e.tau-board-unit_maximized .tau-board-unit__value-open {

    width: 22px /* /9{3}/ */;

    text-align: right;

}

.tau-board-unit_type_bugs-counter-open-total-e .tau-board-unit__value-total {

    max-width: 26px /* /\/9{3}/ */;

}

.tau-board-unit_type_bugs-counter-open-total-e.tau-board-unit_maximized .tau-board-unit__value-total {

    width: 26px /* /\/9{3}/ */;

}

/* for "Tasks Counter Open/Total" unit */

.tau-board-unit_type_tasks-counter-open-total .tau-board-unit__value-open {

    max-width: 16px /* /9{2}/ */;

}

.tau-board-unit_type_tasks-counter-open-total.tau-board-unit_maximized .tau-board-unit__value-open {

    width: 16px /* /9{2}/ */;

    text-align: right;

}

.tau-board-unit_type_tasks-counter-open-total .tau-board-unit__value-total {

    max-width: 20px /* /\/9{2}/ */;

}

.tau-board-unit_type_tasks-counter-open-total.tau-board-unit_maximized .tau-board-unit__value-total {

    width: 20px /* /\/9{2}/ */;

}

/* for "Userstories Counter Open/Total" unit */

.tau-board-unit_type_userstories-counter-open-total .tau-board-unit__value-open {

    max-width: 22px /* /9{3}/ */;

}

.tau-board-unit_type_userstories-counter-open-total.tau-board-unit_maximized .tau-board-unit__value-open {

    width: 22px /* /9{3}/ */;

    text-align: right;

}

.tau-board-unit_type_userstories-counter-open-total .tau-board-unit__value-total {

    max-width: 26px /* /\/9{3}/ */;

}

.tau-board-unit_type_userstories-counter-open-total.tau-board-unit_maximized .tau-board-unit__value-total {

    width: 26px /* /\/9{3}/ */;

}

/* for "Projects Counter" unit */

.tau-board-unit_type_projects-counter .tau-board-unit__value {

    max-width: 22px /* /9{3}/ */;

}

.tau-board-unit_type_projects-counter.tau-board-unit_maximized .tau-board-unit__value {

    width: 22px /* /9{3}/ */;

    text-align: center;

}

/* for "Teams Counter" unit */

.tau-board-unit_type_teams-counter .tau-board-unit__value {

    max-width: 16px /* /9{2}/ */;

}

.tau-board-unit_type_teams-counter.tau-board-unit_maximized .tau-board-unit__value {

    width: 16px /* /9{2}/ */;

    text-align: center;

}

/* for "Comments Counter" unit */

.tau-board-unit_type_comments-counter .tau-board-unit__value {

    max-width: 16px /* /9{2}/ */;

}

.tau-board-unit_type_comments-counter.tau-board-unit_maximized .tau-board-unit__value {

    width: 16px /* /9{2}/ */;

    text-align: center;

}

/* for "Messages Counter" unit */

.tau-board-unit_type_messages-counter .tau-board-unit__value {

    max-width: 16px /* /9{2}/ */;

}

.tau-board-unit_type_messages-counter.tau-board-unit_maximized .tau-board-unit__value {

    width: 16px /* /9{2}/ */;

    text-align: center;

}

/* for "Attachments Counter" unit */

.tau-board-unit_type_attachments-counter .tau-board-unit__value {

    max-width: 16px /* /9{2}/ */;

}

.tau-board-unit_type_attachments-counter.tau-board-unit_maximized .tau-board-unit__value {

    width: 16px /* /9{2}/ */;

    text-align: center;

}

/* for "Relations Counter" unit */

.tau-board-unit_type_relations-counter .tau-board-unit__value {

    max-width: 28px /* /9{4}/ */;

}

.tau-board-unit_type_relations-counter.tau-board-unit_maximized .tau-board-unit__value {

    width: 28px /* /9{4}/ */;

    text-align: center;

}

/* for "Requesters Counter" unit */

.tau-board-unit_type_requesters-counter .tau-board-unit__value {

    max-width: 16px /* /9{2}/ */;

}

.tau-board-unit_type_requesters-counter.tau-board-unit_maximized .tau-board-unit__value {

    width: 16px /* /9{2}/ */;

    text-align: center;

}

/* for "Allocation" unit */

.tau-board-unit_type_allocation:after {

    content: '%';

}

.tau-board-unit_type_allocation .tau-board-unit__value {

    max-width: 22px /* /9{3}/ */;

}

.tau-board-unit_type_allocation.tau-board-unit_maximized .tau-board-unit__value {

    width: 22px /* /9{3}/ */;

    text-align: center;

}

/* for "Effort" units */

.tau-board-unit_type_effort-total .tau-board-unit__value,
.tau-board-unit_type_effort-todo-total .tau-board-unit__value-todo {

    max-width: 25px /* /9{2}\.9/ */;

}

.tau-board-unit_type_effort-total.tau-board-unit_maximized .tau-board-unit__value,
.tau-board-unit_type_effort-todo-total.tau-board-unit_maximized .tau-board-unit__value-todo {

    width: 25px /* /9{2}\.9/ */;

}

.tau-board-unit_type_effort-todo-total.tau-board-unit_maximized .tau-board-unit__value-todo {

    text-align: right;

}

.tau-board-unit_type_effort-total-e .tau-board-unit__value,
.tau-board-unit_type_effort-todo-total-e .tau-board-unit__value-todo {

    max-width: 31px /* /9{3}\.9/ */;

}

.tau-board-unit_type_effort-total-e.tau-board-unit_maximized .tau-board-unit__value,
.tau-board-unit_type_effort-todo-total-e.tau-board-unit_maximized .tau-board-unit__value-todo {

    width: 31px /* /9{3}\.9/ */;

}

.tau-board-velocity.tau-board-unit_maximized .tau-board-unit__value{
    width: 83px;
}

.tau-board-tasks_total.tau-board-unit_maximized .tau-board-unit__value {

    width: 65px;

}

.tau-board-unit_type_effort-todo-total-e.tau-board-unit_maximized .tau-board-unit__value-todo {

    text-align: right;

}

.tau-board-unit_type_effort-todo-total .tau-board-unit__value-total {

    max-width: 29px /* /\/9{2}\.9/ */;

}

.tau-board-unit_type_effort-todo-total.tau-board-unit_maximized .tau-board-unit__value-total {

    width: 29px /* /\/9{2}\.9/ */;

}

.tau-board-unit_type_effort-todo-total-e .tau-board-unit__value-total {

    max-width: 35px /* /\/9{3}\.9/ */;

}

.tau-board-unit_type_effort-todo-total-e.tau-board-unit_maximized .tau-board-unit__value-total {

    width: 35px /* /\/9{3}\.9/ */;

}

.tau-board-unit_type_effort-total .tau-board-unit__points,
.tau-board-unit_type_effort-total-e .tau-board-unit__points,
.tau-board-unit_type_effort-todo-total .tau-board-unit__points {

    max-width: 13px /* /h|pt/ */;

}

.tau-board-unit_type_effort-total.tau-board-unit_maximized .tau-board-unit__points,
.tau-board-unit_type_effort-total-e.tau-board-unit_maximized .tau-board-unit__points,
.tau-board-unit_type_effort-todo-total.tau-board-unit_maximized .tau-board-unit__points {

    width: 13px /* /h|pt/ */;

}

/* for "Time" units */

.tau-board-unit_type_time-cycle:before,
.tau-board-unit_type_time-lead:before {

    margin-right: 4px;

}

.tau-board-unit_type_time-cycle:before {

    content: 'Cycle: ';

}

.tau-board-unit_type_time-lead:before {

    content: 'Lead:';

}

.tau-board-unit_type_time-remain-spent:after {

    content: 'h';

    margin-left: 2px;

}

.tau-board-unit_type_time-cycle .tau-board-unit__value,
.tau-board-unit_type_time-lead .tau-board-unit__value,
.tau-board-unit_type_time-remain-spent .tau-board-unit__value-remain,
.tau-board-unit_type_time-remain-spent .tau-board-unit__value-spent {

    max-width: 31px /* /9{3}\.9/ */;

}

.tau-board-unit_type_time-cycle.tau-board-unit_maximized .tau-board-unit__value,
.tau-board-unit_type_time-lead.tau-board-unit_maximized .tau-board-unit__value,
.tau-board-unit_type_time-remain-spent.tau-board-unit_maximized .tau-board-unit__value-remain,
.tau-board-unit_type_time-remain-spent.tau-board-unit_maximized .tau-board-unit__value-spent {

    width: 31px /* /9{3}\.9/ */;

}

.tau-board-unit_type_time-remain-spent .tau-board-unit__value-remain,
.tau-board-unit_type_time-remain-spent .tau-board-unit__value-spent {

    border: 1px solid #bac3ca;

    line-height: 18px;

    padding: 0 4px;

}

.tau-board-unit_type_time-remain-spent .tau-board-unit__value-spent {

    border-right-width: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    background: #bac3ca;

    color: #fff;

}

.tau-board-unit_type_time-remain-spent .tau-board-unit__value-remain {

    border-left-width: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

    background: #fff;

}

.tau-board-unit_type_time-cycle .tau-board-unit__points,
.tau-board-unit_type_time-lead .tau-board-unit__points {

    max-width: 10px /* /d|h/ */;

}

.tau-board-unit_type_time-cycle.tau-board-unit_maximized .tau-board-unit__points,
.tau-board-unit_type_time-lead.tau-board-unit_maximized .tau-board-unit__points {

    width: 10px /* /d|h/ */;

}

/* for "Relations Counter In/Out" unit */

.tau-board-unit_type_relations-counter-in-out .tau-board-unit__value-in,
.tau-board-unit_type_relations-counter-in-out .tau-board-unit__value-out {

    max-width: 16px /* /9{2}/ */;

}

.tau-board-unit_type_relations-counter-in-out.tau-board-unit_maximized .tau-board-unit__value-in,
.tau-board-unit_type_relations-counter-in-out.tau-board-unit_maximized .tau-board-unit__value-out {

    width: 16px /* /9{2}/ */;

    text-align: center;

}

.tau-board-unit_type_relations-counter-in-out .tau-board-unit__value-in {

    float: left;

}

.tau-board-unit_type_relations-counter-in-out .tau-board-unit__value-out {

    float: right;

}

.tau-board-unit_type_relations-counter-in-out .tau-board-unit__value-blocker {

    max-width: 14px /* /9{2}/ */;

}

.tau-board-unit_type_relations-counter-in-out.tau-board-unit_maximized .tau-board-unit__value-blocker {

    width: 14px /* /9{2}/ */;

}

/* for "Project" unit */

.tau-board-unit_type_project .tau-board-unit__value {

    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;

    border-style: solid;
    border-color: transparent;
    border-width: 0 4px;

    color: #16343c;

}

/* for "Last Commented User" unit */

.tau-board-unit_type_last-commented-user .tau-board-unit__value {

    margin-left: 4px;

}

/* for "Entity Name" units */

.tau-board-unit_type_entity-name .tau-board-unit__value,
.tau-board-unit_type_entity-name-extended .tau-board-unit__value,
.tau-board-unit_type_entity-name-extended-plus .tau-board-unit__value,
.tau-board-unit_type_entity-name-extended-small .tau-board-unit__value {

    display: block;

    color: #16343C;

}

.tau-board-unit_type_entity-name .tau-board-unit__value {

    font-size: 13px;

    line-height: 20px;

}

.tau-board-unit_type_entity-name-extended .tau-board-unit__value,
.tau-board-unit_type_entity-name-extended-plus .tau-board-unit__value {

    font-size: 13px;

    max-height: 48px;

    line-height: 16px;

    white-space: normal;

}

.tau-ui-size-l .tau-board-unit_type_entity-name-extended .tau-board-unit__value,
.tau-ui-size-l .tau-board-unit_type_entity-name-extended-plus .tau-board-unit__value {

    max-height: 100%;

}

.tau-ui-size-s .tau-card-v2 .tau-board-unit_type_entity-name-extended .tau-board-unit__value,
.tau-ui-size-m .tau-card-v2 .tau-board-unit_type_entity-name-extended .tau-board-unit__value {

    height: 48px;

}

.tau-board-unit_type_entity-name-extended-plus .tau-board-unit__value {

    max-height: 80px;
}

.tau-ui-size-s .tau-card-v2 .tau-board-unit_type_entity-name-extended-plus .tau-board-unit__value,
.tau-ui-size-m .tau-card-v2 .tau-board-unit_type_entity-name-extended-plus .tau-board-unit__value {

    height: 80px;

}

.tau-board-unit_type_entity-name-extended-small .tau-board-unit__value {

    max-height: 28px;

    line-height: 14px;

    white-space: normal;

}

.tau-ui-size-xs .tau-card-v2 .tau-board-unit_type_entity-name-extended-small .tau-board-unit__value,
.tau-ui-size-s .tau-card-v2 .tau-board-unit_type_entity-name-extended-small .tau-board-unit__value,
.tau-ui-size-m .tau-card-v2 .tau-board-unit_type_entity-name-extended-small .tau-board-unit__value {

    height: 28px;

}

/* for "User Name" unit */

.tau-board-unit_type_user-name .tau-board-unit__value {

    font-size: 13px;

    line-height: 20px;

    color: #16343C;

}

/* for "List" unit */

.tau-board-unit_type_list__others-counter {

    max-width: 16px /* /\+9/ */;

}

.tau-board-unit_maximized .tau-board-unit_type_list__others-counter {

    width: 16px /* /\+9/ */;

}

.tau-board-unit_type_list__total-counter {

    max-width: 16px /* /\9{2}/ */;

}

.tau-board-unit_maximized .tau-board-unit_type_list__total-counter {

    width: 16px /* /\9{2}/ */;

}

.tau-board-unit_maximized.tau-board-unit_type_list .tau-board-unit_type_list__total-counter {

    text-align: center;

}

/* for "Status" units */

.tau-board-unit_type_status-observer:before,
.tau-board-unit_type_status-admin:before,
.tau-board-unit_type_status-active:before,
.tau-board-unit_type_status-inactive:before {

    font-size: 10px;

    text-transform: uppercase;


}

.tau-board-unit_type_status-observer:before {

    content: attr(data-label);

    width: 53px;

}

.tau-board-unit_type_status-admin:before {

    content: attr(data-label);

    width: 37px;

}

.tau-board-unit_type_status-active:before,
.tau-board-unit_type_status-inactive:before {

    content: attr(data-label);

    width: 48px;

}

/* for "Custom Url" unit */

/* for Velocity unit */
.tau-board-velocity .tau-board-unit__value {
    max-width: 83px;
}

/* for Tasks Total unit */
.tau-board-tasks_total .tau-board-unit__value {
    max-width: 65px;
}
.tau-board-unit_type_custom-url .tau-board-unit__value {

    float: left;

    max-width: 100%;

}



/* Unit's links
----------------------------------------------------------------------------------------------------*/

.tau-board-unit a {

    color: #467ebd;

}



.tau-board-unit_type_id a {

    color: #728397;

    text-decoration: none;
}

.tau-board-unit_type_id a:hover {

    text-decoration: underline;

}



/* Unit's badges
----------------------------------------------------------------------------------------------------*/

.tau-board-unit_type_status-observer:before,
.tau-board-unit_type_status-admin:before,
.tau-board-unit_type_status-active:before,
.tau-board-unit_type_status-inactive:before,
.tau-board-unit_type_impediments-counter .tau-board-unit__value,
.tau-board-unit_type_bugs-counter .tau-board-unit__value,
.tau-board-unit_type_bugs-counter-e .tau-board-unit__value,
.tau-board-unit_type_tasks-counter .tau-board-unit__value,
.tau-board-unit_type_userstories-counter .tau-board-unit__value,
.tau-board-unit_type_requests-counter .tau-board-unit__value,
.tau-board-unit_type_testcases-counter .tau-board-unit__value,
.tau-board-unit_type_testcases-counter-alt:before,
.tau-board-unit_type_testruns-counter .tau-board-unit__value,
.tau-board-unit_type_testruns-counter-open-total:before,
.tau-board-unit_type_features-counter .tau-board-unit__value,
.tau-board-unit_type_features-counter-open-total:before,
.tau-board-unit_type_bugs-counter-open-total:before,
.tau-board-unit_type_bugs-counter-open-total-e:before,
.tau-board-unit_type_tasks-counter-open-total:before,
.tau-board-unit_type_userstories-counter-open-total:before,
.tau-board-unit_type_release:before,
.tau-board-unit_type_iteration:before,
.tau-board-unit_type_teamiteration:before,
.tau-board-unit_type_feature:before,
.tau-board-unit_type_userstory:before,
.tau-board-unit_type_task:before,
.tau-board-unit_type_bug:before,
.tau-board-unit_type_build:before,
.tau-board-unit_type_testcase:before,
.tau-board-unit_type_testrun:before,
.tau-board-unit_type_testplan:before,
.tau-board-unit_type_testplanrun:before,
.tau-board-unit_type_project:before,
.tau-board-unit_type_request:before,
.tau-board-unit_type_feature-id:before,
.tau-board-unit_type_userstory-id:before,
.tau-board-unit_type_task-id:before,
.tau-board-unit_type_bug-id:before,
.tau-board-unit_type_release-id:before,
.tau-board-unit_type_iteration-id:before,
.tau-board-unit_type_teamiteration-id:before,
.tau-board-unit_type_build-id:before,
.tau-board-unit_type_testcase-id:before,
.tau-board-unit_type_testrun-id:before,
.tau-board-unit_type_testplan-id:before,
.tau-board-unit_type_testplanrun-id:before,
.tau-board-unit_type_request-id:before,
.tau-board-unit_type_relations-counter-in-out.tau-board-unit_maximized .tau-board-unit__value-in,
.tau-board-unit_type_relations-counter-in-out.tau-board-unit_maximized .tau-board-unit__value-out,
.tau-board-unit_type_relations-counter-in-out .tau-board-unit__value-blocker {

    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15) inset;

    border-radius: 3px;

    min-width: 9px;

    padding: 0 4px;

    text-align: center;

}

/* for "before" pseudo-elements that is not values */

.tau-board-unit_type_bugs-counter-open-total:before,
.tau-board-unit_type_bugs-counter-open-total-e:before,
.tau-board-unit_type_tasks-counter-open-total:before,
.tau-board-unit_type_userstories-counter-open-total:before,
.tau-board-unit_type_release:before,
.tau-board-unit_type_iteration:before,
.tau-board-unit_type_teamiteration:before,
.tau-board-unit_type_feature:before,
.tau-board-unit_type_userstory:before,
.tau-board-unit_type_task:before,
.tau-board-unit_type_bug:before,
.tau-board-unit_type_build:before,
.tau-board-unit_type_testcase:before,
.tau-board-unit_type_testrun:before,
.tau-board-unit_type_testplan:before,
.tau-board-unit_type_testplanrun:before,
.tau-board-unit_type_request:before,
.tau-board-unit_type_testcases-counter-alt:before,
.tau-board-unit_type_testruns-counter-open-total:before,
.tau-board-unit_type_features-counter-open-total:before,
.tau-board-unit_type_feature-id:before,
.tau-board-unit_type_userstory-id:before,
.tau-board-unit_type_task-id:before,
.tau-board-unit_type_bug-id:before,
.tau-board-unit_type_release-id:before,
.tau-board-unit_type_iteration-id:before,
.tau-board-unit_type_teamiteration-id:before,
.tau-board-unit_type_build-id:before,
.tau-board-unit_type_testcase-id:before,
.tau-board-unit_type_testrun-id:before,
.tau-board-unit_type_testplan-id:before,
.tau-board-unit_type_testplanrun-id:before,
.tau-board-unit_type_request-id:before {

    float: left;

    margin-right: 2px;

    line-height: 20px;

    vertical-align: bottom;

}

/* for "Feature" badges */

.tau-board-unit_type_feature:before,
.tau-board-unit_type_feature-id:before,
.tau-board-unit_type_features-counter-open-total:before {

    content: 'F';

}

/* for "Userstory" badges */

.tau-board-unit_type_userstories-counter-open-total:before,
.tau-board-unit_type_userstory:before,
.tau-board-unit_type_userstory-id:before {

    content: 'U';

}

/* for "Task" badges */

.tau-board-unit_type_task:before,
.tau-board-unit_type_tasks-counter-open-total:before,
.tau-board-unit_type_task-id:before {

    content: 'T';

}

/* for "Bug" badges */

.tau-board-unit_type_bug:before,
.tau-board-unit_type_bugs-counter-open-total:before,
.tau-board-unit_type_bugs-counter-open-total-e:before,
.tau-board-unit_type_bug-id:before {

    content: 'B';

}

/* for "Release" badges */

.tau-board-unit_type_release:before,
.tau-board-unit_type_release-id:before {

    content: 'R';

}

/* for "Iteration" badges */

.tau-board-unit_type_iteration:before,
.tau-board-unit_type_iteration-id:before {

    content: 'I';

}

.tau-board-unit_type_teamiteration:before,
.tau-board-unit_type_teamiteration-id:before {

    content: 'TI';

}

/* for "Build" badges */

.tau-board-unit_type_build:before,
.tau-board-unit_type_build-id:before {

    content: 'B';

}

/* for "Test Case" badges */

.tau-board-unit_type_testcase:before,
.tau-board-unit_type_testcases-counter-alt:before,
.tau-board-unit_type_testcase-id:before {

    content: 'TC';
}

/* for "Test Run" badges */

.tau-board-unit_type_testrun:before,
.tau-board-unit_type_testruns-counter-open-total:before,
.tau-board-unit_type_testrun-id:before {

    content: 'TR';
}

/* for "Test Plan" badges */

.tau-board-unit_type_testplan:before,
.tau-board-unit_type_testplan-id:before {

    content: 'TP';

}

/* for "Test Plan Run" badges */

.tau-board-unit_type_testplanrun:before,
.tau-board-unit_type_testplanrun-id:before {

    content: 'TR';

}

/* for "Status" badges */

.tau-board-unit_type_status-observer:before,
.tau-board-unit_type_status-admin:before,
.tau-board-unit_type_status-active:before {

    color: #8595a8;
    background: #fcf1c3;

}

.tau-board-unit_type_status-inactive:before {

    color: #fff;
    background: #8596a7;

}

/* for "Requests" badges */

.tau-board-unit_type_request:before,
.tau-board-unit_type_request-id:before {

    content: 'R';

}

/* for "Relations Counter In/Out" unit */

.tau-board-unit_type_relations-counter-in-out.tau-board-unit_maximized .tau-board-unit__value-in,
.tau-board-unit_type_relations-counter-in-out.tau-board-unit_maximized .tau-board-unit__value-out,
.tau-board-unit_type_relations-counter-in-out .tau-board-unit__value-blocker {

    padding: 0 2px;

    min-width: 12px;

}

.tau-board-unit_type_relations-counter-in-out.tau-board-unit_maximized .tau-board-unit__value-in,
.tau-board-unit_type_relations-counter-in-out.tau-board-unit_maximized .tau-board-unit__value-out {

    box-shadow: none;

}

.tau-board-unit_type_relations-counter-in-out .tau-board-unit__value-in.tau-board-unit__value-blocker,
.tau-board-unit_type_relations-counter-in-out .tau-board-unit__value-out.tau-board-unit__value-blocker {

    border-radius: 6px;

    color: #fff;
    background: #a71212;

}



/* Unit's icons
----------------------------------------------------------------------------------------------------*/

.tau-board-unit_type_date.tau-board-unit_type_creation-date:before,
.tau-board-unit_type_date.tau-board-unit_type_start-date:before,
.tau-board-unit_type_date.tau-board-unit_type_end-date:before,
.tau-board-unit_type_date.tau-board-unit_type_last-comment-date:before,
.tau-board-unit_type_date.tau-board-unit_type_last-run-date:before,
.tau-board-unit_type_impediments-counter-alt:before,
.tau-board-unit_type_projects-counter:before,
.tau-board-unit_type_teams-counter:before,
.tau-board-unit_type_comments-counter:before,
.tau-board-unit_type_messages-counter:before,
.tau-board-unit_type_attachments-counter:before,
.tau-board-unit_type_relations-counter:before,
.tau-board-unit_type_requesters-counter:before,
.tau-board-unit_type_allocation:before,
.tau-board-unit_type_testcases-detailed-counter .tau-board-unit__value-passed:before,
.tau-board-unit_type_testcases-detailed-counter .tau-board-unit__value-failed:before,
.tau-board-unit_type_testcases-detailed-counter .tau-board-unit__value-ignored:before,
.tau-board-unit_type_failure-comment:before,
.tau-board-unit_type_relations-counter-in-out:after,
.tau-board-tc_last_run_date:before,
.tau-board-unit_type_custom-url:after,
.tau-board-unit_type_custom-checkbox:before,
.tau-board-unit_type_custom-checkbox-checked:before,
.tau-board-unit_type_custom-related-entity:after {

    content: '';

    display: inline-block;

    vertical-align: bottom;

    height: 20px;

    margin-right: 2px;

    background: url(../images/icons-general.svg) no-repeat 0 0;

}

/* for "Creation Date" unit */

.tau-board-unit_type_date.tau-board-unit_type_creation-date:before {

    width: 12px;

    background-position: -408px -10px;

}

/* for "Start Date" unit */

.tau-board-unit_type_date.tau-board-unit_type_start-date:before {

    width: 8px;

    background-position: -472px -8px;

}

/* for "End Date" unit */

.tau-board-unit_type_date.tau-board-unit_type_end-date:before {

    width: 12px;

    background-position: -522px -8px;

}

/* for "Last Comment Date" unit */

.tau-board-unit_type_date.tau-board-unit_type_last-comment-date:before {

    width: 11px;

    background-position: -160px -4px;

}

/* for "Last Run Date" unit */

.tau-board-unit_type_date.tau-board-unit_type_last-run-date:before {

    width: 14px;

    background-position: -1468px -11px;

}

/* for "Last Run Date" unit */

.tau-board-tc_last_run_date:before {

    width: 11px;

    background-position: -1371px -256px;

}

/* for "Impediments Counter Alt" unit */

.tau-board-unit_type_impediments-counter-alt:before {

    margin-right: 2px;

    width: 13px;

    background-position: -9px -6px;

}

/* for "Projects Counter" unit */

.tau-board-unit_type_projects-counter:before {

    width: 13px;

    background-position: -310px -7px;

}

/* for "Teams Counter" unit */

.tau-board-unit_type_teams-counter:before {

    width: 23px;

    background-position: -360px -6px;

}

/* for "Comments Counter" unit */

.tau-board-unit_type_comments-counter:before {

    width: 11px;

    background-position: -160px -4px;

}

/* for "Messages Counter" unit */

.tau-board-unit_type_messages-counter:before {

    width: 13px;

    background-position: -721px -11px;

}

/* for "Attachments Counter" unit */

.tau-board-unit_type_attachments-counter:before {

    width: 10px;

    background-position: -671px -10px;

}

/* for "Relations Counter" unit */

.tau-board-unit_type_relations-counter:before {

    width: 14px;

    background-position: -1118px -11px;

}

/* for "Requesters Counter" unit */

.tau-board-unit_type_requesters-counter:before {

    width: 10px;

    background-position: -210px -6px;

}

/* for "Allocation" unit */

.tau-board-unit_type_allocation:before {

    width: 17px;

    background-position: -1168px -10px;

}

/* for "Test Cases Detailed Counter" unit */

.tau-board-unit_type_testcases-detailed-counter .tau-board-unit__value-passed:before,
.tau-board-unit_type_testcases-detailed-counter .tau-board-unit__value-failed:before,
.tau-board-unit_type_testcases-detailed-counter .tau-board-unit__value-ignored:before {

    margin-right: 2px;

    width: 8px;

}

.tau-board-unit_type_testcases-detailed-counter .tau-board-unit__value-passed:before {

    background-position: -969px -12px;

}

.tau-board-unit_type_testcases-detailed-counter .tau-board-unit__value-failed:before {

    background-position: -1019px -12px;

}

.tau-board-unit_type_testcases-detailed-counter .tau-board-unit__value-ignored:before {

    background-position: -1069px -12px;

}

/* for "Failure Comment" unit */

.tau-board-unit_type_failure-comment:before,
.tau-board-unit_type_failure-comment-s:before {

    width: 11px;

    background-position: -921px -13px;

}

/* for "Relations Counter In/Out" */

.tau-board-unit_type_relations-counter-in-out:after {

    margin: 0 2px;

    width: 25px;

    background-position: -872px -257px;

}

/* for "Custom Url" unit */



/* Unit's inline edit
----------------------------------------------------------------------------------------------------*/

.tau-card-v2 .tau-board-unit_type_entity-name .tau-board-unit__value.editableText.active,
.tau-card-v2 .tau-board-unit_type_entity-name-extended .tau-board-unit__value.editableText.active,
.tau-card-v2 .tau-board-unit_type_entity-name-extended-small .tau-board-unit__value.editableText.active {

    border: none;

    box-shadow: none;
    box-shadow: 0px 0px 0px 1px #F8E06F inset;
    padding: 0 2px;

    background: #fff;

}

.tau-board-unit_type_custom-url:after {

    position: relative;
    left: 15px;

    margin: 0 0 0 -15px;

    width: 15px;

    background-position: -1412px -11px;
}

/* for "Custom Checkbox" unit */

.tau-board-unit_type_custom-checkbox:before {

    margin-right: 5px;
    width: 12px;

    background-position: -1320px -298px;
}

.tau-board-unit_type_custom-checkbox-checked:before {

    margin-right: 5px;
    width: 12px;

    background-position: -1320px -255px;
}

/* for "Custom Related Entity" */

.tau-board-unit_type_custom-related-entity:after {

    margin: 0;

    width: 12px;

    background-position: -718px -256px;


}



/* Other unit's components
----------------------------------------------------------------------------------------------------*/

/* for "Burndown Trigger" unit */

.tau-board-unit_maximized .tau-board-unit_type_burndown-trigger__control {
    cursor: move;
}

.tau-board-unit_type_burndown-trigger__control {

    font-size: 100%;

    position: relative;

    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    margin: 0;

    border: solid 1px #acb3ba;

    width: 24px;

    height: 20px;

    padding: 0;

    text-align: left;
    text-indent: -9999px;

    cursor: pointer;

    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImczOTIiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGRkZGRkYiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNFOEU4RTgiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2czOTIpIiAvPgo8L3N2Zz4=);
    background: -webkit-linear-gradient(bottom, #e8e8e8, #fff);
    background: -moz-linear-gradient(bottom, #e8e8e8, #fff);
    background: linear-gradient(to top, #e8e8e8, #fff);

}

.tau-board-unit_type_burndown-trigger__control:hover {

    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc4MDQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGRkZGRkYiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNENkQ2RDYiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c4MDQpIiAvPgo8L3N2Zz4=);
    background: -webkit-linear-gradient(bottom, #d6d6d6, #fff);
    background: -moz-linear-gradient(bottom, #d6d6d6, #fff);
    background: linear-gradient(to top, #d6d6d6, #fff);

}

.tau-board-unit_type_burndown-trigger__control:active {

    background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc1MjAiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMTAwJSIgeTE9IjEwMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgo8c3RvcCBzdG9wLWNvbG9yPSIjRkZGRkZGIiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjRDZENkQ2IiBvZmZzZXQ9IjEiLz4KPC9saW5lYXJHcmFkaWVudD4KPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNnNTIwKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #e6e6e6 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top,  #e6e6e6 0%,#ffffff 100%);
    background: linear-gradient(top,  #e6e6e6 0%,#ffffff 100%);

}

.tau-board-unit_type_burndown-trigger__control:before {

    content: '';

    position: absolute;
    left: 0;
    top: 0;

    width: 100%;

    height: 100%;

    background: url(../images/icons-general.svg) no-repeat -1167px -256px;

}

/* For Planned Dates unit */
.tau-board-unit_type_planned_dates-green {
    color: #1C9200;
}


/* Junk
====================================================================================================*/

.tau-avatar.tau-owner-avatar {
    position: relative;
}

.tau-avatar.tau-owner-avatar:after {
    content: '';

    position: absolute;
    left: 4px;
    bottom: 16px;

    width: 12px;
    height: 8px;

    background: url(../images/icons-general.png) no-repeat -571px -14px;
}


.tau-avatar.tau-last-commented-user-avatar {
    position: relative;
}

.tau-avatar.tau-last-commented-user-avatar:after {
    content: '';

    position: absolute;
    left: 1px;
    bottom: 0;

    width: 11px;
    height: 10px;

    background: url(../images/icons-general.png) no-repeat -622px -15px;
}


.tau-board-unit_type_project, .tau-board-unit_type_project_abbr {
    box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
}

.tau-board-unit_maximized.tau-board-unit_type_custom_field_short {
    width: 97px;
}

.tau-board-unit_type_custom_field_short {
    max-width: 97px;
}

.tau-board-unit-link {
    text-decoration: underline;
}
