.y-row {
    display: flex;
    flex-grow:1;
    flex-direction:column;
    width: 32px;
    border-right: 1px solid #C7CCD2;
}

.y-row .board-grid__caption {
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin: auto 0;
    white-space: nowrap;
}
.y-row:nth-child(2),
.y-row:nth-child(3) {
    display: none;
}
