<b:style src="./grid.css"/>
<div class="tau-board">
    <div class="board-grid">
        <!--{axisY}-->
        <div class="board-grid_wrap">
            <!--{axisX}-->
            <!--{cell}-->
        </div>
    </div>
</div>

