<b:style src="grid.css"/>
<div class="tau-board">
    <div class="board-grid board-grid-2-axis tau-ui-size-xl ">
        <!--{axisY}-->
        <!--{axisX}-->
        <!--{childNodesHere}-->
    </div>
</div>