<b:style src="./context-selector.css" />
<div event-click="togglePopup" class="context-filter">
    <!--{selectedProjects}-->
    <!--{selectedTeams}-->
    <span class="icon-svg icon-arrow-collapse"></span>
</div>