<b:style src="./context-selector.css" />
<div event-click="showPopup" class="context-filter">
    <div class="context-filter__item">
    <div class="context-filter__projects">
        <span class="context-filter__name">TP2</span>
        <span class="context-filter__name">TP3</span>
        <span class="context-filter__name">BSB</span>
    </div>
        <span class="context-filter__count">5</span></div>
    <div class="context-filter__item">
    <div class="context-filter__teams">
        <span class="context-filter__name">No Team</span>
        <span class="context-filter__name">BLA</span>
    </div>
        <span class="context-filter__count">2</span>
    </div>
</div>