<b:style src="./filterProjectAndTeam.css"/>

<div class="filterProjectAndTeam">
    <div class="btn-switch">
        <div class="btn btn-checked">Teams</div>
        <div class="btn">Projects</div>
    </div>

    <b:include src="../../../app/template/search.tmpl"/>

    <b:include src="./list-project-team.tmpl"/>

</div>

