.popup-filterProjectAndTeam {
	margin: 0 10px;
	width: calc(100% - 20px);
	max-width: 260px;
}

.filterProjectAndTeam{

 }
.filterProjectAndTeam > .search{
	padding: 5px;
	position: static;
	background: #f0f2f5;
}
.filterProjectAndTeam > .search > .icon-search {
	position: absolute;
	display: block;
	top: 11px;
	left: 10px;
}
.filterProjectAndTeam > .search > .form-control {
	padding-left: 30px;
	width: 100%;
}