<b:style src="./filterProjectAndTeam.css" />
<div class="temp">
Ius reque idque dolore ad, appetere perfecto nec ad. Inimicus patrioque hendrerit est cu, his no accumsan nominavi, dico ipsum adipiscing cum eu. \
Nec ex meis noluisse percipitur, vix omnes noluisse posidonium ut. \
Duo et deseruisse honestatis, nemore aliquip ad pri. Cum quem porro delicata te.'
</div>