<b:style src="./list-project-team.css"/>
<b:style src="./filterProjectAndTeam.css"/>

<div class="filterProjectAndTeam">

    <b:include src="../../../app/template/search.tmpl"/>
    <ul class="list-project-team">
        <!--{childNodesHere}-->
    </ul>

</div>