<li event-click="select" class="list-project-team__item">
    <span class="icon-svg icon-checkbox-checked-{isSelected}"></span>
    <span class="icon-svg icon-arrow-open" style="display: none"></span>
    <span class="list-project-team__text">{name}</span>
</li>