<b:style src="./list-project-team.css"/>
<b:style src="./filterProjectAndTeam.css"/>

<div class="filterProjectAndTeam">
	<div class="btn-switch">
        <div event-click="toggleProject" class="btn btn-{projectsIsActive}">Projects</div>
        <div event-click="toggleTeam" class="btn btn-{teamsIsActive}">Teams</div>
    </div>
    <b:include src="../../../app/template/search.tmpl"/>
    <ul class="list-project-team">
        <!--{childNodesHere}-->
    </ul>

</div>