<div class="context-filter__item">
    <div class="context-filter__{type}s">
        <span class="icon-svg icon-{type}"></span>
        <!--{childNodesHere}-->
        <span class="context-filter__count">{childCount}</span>
    </div>
</div>