<div class="context-filter__item">
    <div{filter}>
        <span{icon} class="icon-svg"></span>
        <!--{childNodesHere}-->
        <span class="context-filter__count">{childCount}</span>
    </div>
</div>