<b:style src="./context-filter.css" />
<div class="context-filter">
    <div class="context-filter__item">
        <div class="context-filter__teams">
            <span class="icon-svg icon-team"></span>
            No Team
        </div>
        <span class="context-filter__count">2</span>
    </div>
    <div class="context-filter__item">
        <div class="context-filter__projects">
            <span class="icon-svg icon-project"></span>
            No project
        </div>
        <span class="context-filter__count">5</span>
    </div>
    <span class="icon-svg icon-arrow-collapse"></span>
</div>