.context-filter {
	padding: 6px 8px;
	line-height: 0;
	white-space:nowrap;
}

.context-filter .dark-panel {
	height: 20px;
}

.context-filter .selected-teams, 
.context-filter .selected-projects {
	display: inline-block;
	vertical-align: top;
	max-width: 105px;
	
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	position: relative;
	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: normal;	
	font-weight: 600;
	line-height: 20px;	
}

.context-filter .selected-teams {
	padding-left: 33px;
	margin-right: 8px;
	margin-left: 2px;
}

.context-filter .selected-projects {
	padding-left: 20px;
}

.context-filter .selected-teams:before, 
.context-filter .selected-projects:before {
	content: '';
	display: block;
	position: absolute;
	top: 4px;
	left: 0;
	height: 12px;
	width: 15px;
	background-image:url(../images/icons-general.png);
} 

.context-filter .selected-teams:before {
	background-position: -362px -211px;
    width: 27px;
}

.context-filter .selected-projects:before {
	background-position: -318px -211px;
}
