<b:style src="./context-filter.css" />
<div class="context-filter">
	<div class="dark-panel">
    	<div class="selected-teams">Any Team</div>
        <div class="selected-projects">TP3</div>
    </div>
</div>