/*
    Elements used to color code system entities: 'userstory', 'bug' etc.

    Contents:

        Default colors
        'Feature' colors
        'User Story' colors
        'Task' colors
        'Bug' colors
        'Request' colors
        'Test Case' colors
        'Test Plan' colors
        'Test Plan Run' colors
        'Test Run' colors
        'Impediment' colors
        'Release' colors
        'Iteration' + 'Team Iteration' colors
        'Build' colors
        'Project Member' colors
*/



/* Default colors
----------------------------------------------------------------------------------------------------*/

.tau-list-user > .tau-list-line > .tau-elems-table .tau-drag-handler,
._tc-timeline-navigator > .tc-histogram > .tc-item > .tc-meter.tc-user,
.tau-list-team > .tau-list-line > .tau-elems-table .tau-drag-handler,
._tc-timeline-navigator > .tc-histogram > .tc-item > .tc-meter.tc-team,
.tau-list-project > .tau-list-line > .tau-elems-table .tau-drag-handler,
._tc-timeline-navigator > .tc-histogram > .tc-item > .tc-meter.tc-project {

    background-color: rgb(22,52,59);

}

._tc-timeline-navigator > .tc-histogram > .tc-item > .tc-meter.tc-user,
._tc-timeline-navigator > .tc-histogram > .tc-item > .tc-meter.tc-team,
._tc-timeline-navigator > .tc-histogram > .tc-item > .tc-meter.tc-project {

    box-shadow: 1px 0 0 rgba(22,52,59,0.6);

}



/* 'Feature' colors
----------------------------------------------------------------------------------------------------*/

.tau-card-v2_type_feature:before,
.tau-btn.tau-feature:before,
.tau-list-feature > .tau-list-line > .tau-elems-table .tau-drag-handler,
._tc-timeline-navigator > .tc-histogram > .tc-item > .tc-meter.tc-feature {

    background-color: rgb(28,131,0);

}

._tc-timeline-navigator > .tc-histogram > .tc-item > .tc-meter.tc-feature {

    box-shadow: 1px 0 0 rgba(28,131,0,0.6);

}



.tau-board-unit_type_feature:before,
.tau-board-unit_type_feature-id:before,
.tau-board-unit_type_features-counter-open-total:before,
.tau-board-unit_type_features-counter .tau-board-unit__value {

    color: rgb(28,131,0);
    background-color: #daead6;

}



/* 'User Story' colors
----------------------------------------------------------------------------------------------------*/

.tau-card-v2_type_userstory:before,
.tau-btn.tau-userstory:before,
.tau-list-userstory > .tau-list-line > .tau-elems-table .tau-drag-handler,
._tc-timeline-navigator > .tc-histogram > .tc-item > .tc-meter.tc-userstory {

    background-color: rgb(100,152,216);

}

._tc-timeline-navigator > .tc-histogram > .tc-item > .tc-meter.tc-userstory {

    box-shadow: 1px 0 0 rgba(100,152,216,0.6);

}



.tau-board-unit_type_userstories-counter .tau-board-unit__value,
.tau-board-unit_type_userstories-counter-open-total:before,
.tau-board-unit_type_userstory:before,
.tau-board-unit_type_userstory-id:before {

    color: rgb(100,152,216);
    background-color: #e6eff9;

}



/* 'Task' colors
----------------------------------------------------------------------------------------------------*/

.tau-card-v2_type_task:before,
.tau-btn.tau-task:before,
.tau-list-task > .tau-list-line > .tau-elems-table .tau-drag-handler,
._tc-timeline-navigator > .tc-histogram > .tc-item > .tc-meter.tc-task {

    background-color: rgb(25,25,112);

}

._tc-timeline-navigator > .tc-histogram > .tc-item > .tc-meter.tc-task {

    box-shadow: 1px 0 0 rgba(25,25,112,0.6);

}



.tau-board-unit_type_task:before,
.tau-board-unit_type_tasks-counter .tau-board-unit__value,
.tau-board-unit_type_tasks-counter-open-total:before,
.tau-board-unit_type_task-id:before {

    color: rgb(25,25,112);
    background-color: #e3e8ed;

}



/* 'Bug' colors
----------------------------------------------------------------------------------------------------*/

.tau-card-v2_type_bug:before,
.tau-btn.tau-bug:before,
.tau-list-bug > .tau-list-line > .tau-elems-table .tau-drag-handler,
._tc-timeline-navigator > .tc-histogram > .tc-item > .tc-meter.tc-bug {

    background-color: rgb(216,100,100);

}

._tc-timeline-navigator > .tc-histogram > .tc-item > .tc-meter.tc-bug {

    box-shadow: 1px 0 0 rgba(216,100,100,0.6);

}



.tau-board-unit_type_bug:before,
.tau-board-unit_type_bugs-counter .tau-board-unit__value,
.tau-board-unit_type_bugs-counter-e .tau-board-unit__value,
.tau-board-unit_type_bugs-counter-open-total:before,
.tau-board-unit_type_bugs-counter-open-total-e:before,
.tau-board-unit_type_bug-id:before {

    color: rgb(216,100,100);
    background-color: #f1d8db;

}



/* 'Request' colors
----------------------------------------------------------------------------------------------------*/

.tau-card-v2_type_request:before,
.tau-btn.tau-request:before,
.tau-list-request > .tau-list-line > .tau-elems-table .tau-drag-handler,
._tc-timeline-navigator > .tc-histogram > .tc-item > .tc-meter.tc-request {

    background-color: rgb(255,198,0);

}

._tc-timeline-navigator > .tc-histogram > .tc-item > .tc-meter.tc-request {

    box-shadow: 1px 0 0 rgba(255,198,0,0.6);

}



.tau-board-unit_type_request:before,
.tau-board-unit_type_requests-counter .tau-board-unit__value,
.tau-board-unit_type_request-id:before {

    color: rgb(255,198,0);
    background-color: #fff6d6;

}



/* 'Test Case' colors
----------------------------------------------------------------------------------------------------*/

.tau-card-v2_type_testcase:before,
.tau-btn.tau-testcase:before,
.tau-list-testcase > .tau-list-line > .tau-elems-table .tau-drag-handler,
._tc-timeline-navigator > .tc-histogram > .tc-item > .tc-meter.tc-testcase {

    background-color: rgb(221,119,9);

}

._tc-timeline-navigator > .tc-histogram > .tc-item > .tc-meter.tc-testcase {

    box-shadow: 1px 0 0 rgba(221,119,9,0.6);

}



.tau-board-unit_type_testcase:before,
.tau-board-unit_type_testcases-counter-alt:before,
.tau-board-unit_type_testcases-counter .tau-board-unit__value,
.tau-board-unit_type_testcase-id:before {

    color: rgb(221,119,9);
    background-color: #fae9d7;

}



/* 'Test Plan' colors
----------------------------------------------------------------------------------------------------*/

.tau-card-v2_type_testplan:before,
.tau-btn.tau-testplan:before,
.tau-list-testplan > .tau-list-line > .tau-elems-table .tau-drag-handler,
._tc-timeline-navigator > .tc-histogram > .tc-item > .tc-meter.tc-testplan {

    background-color: rgb(199,165,3);

}

._tc-timeline-navigator > .tc-histogram > .tc-item > .tc-meter.tc-testplan {

    box-shadow: 1px 0 0 rgba(199,165,3,0.6);

}



.tau-board-unit_type_testplan:before,
.tau-board-unit_type_testplan-id:before {

    color: rgb(199,165,3);
    background-color: #f6f0d6;

}



/* 'Test Plan Run' colors
----------------------------------------------------------------------------------------------------*/

.tau-card-v2_type_testplanrun:before,
.tau-btn.tau-testplanrun:before,
.tau-list-testplanrun > .tau-list-line > .tau-elems-table .tau-drag-handler,
._tc-timeline-navigator > .tc-histogram > .tc-item > .tc-meter.tc-testplanrun {

    background-color: rgb(167,116,62);

}

._tc-timeline-navigator > .tc-histogram > .tc-item > .tc-meter.tc-testplanrun {

    box-shadow: 1px 0 0 rgba(167,116,62,0.6);

}



.tau-board-unit_type_testplanrun:before,
.tau-board-unit_type_testplanrun-id:before {

    color: rgb(167,116,62);
    background-color: #f1e8df;

}



/* 'Test Run' colors
----------------------------------------------------------------------------------------------------*/

.tau-board-unit_type_testrun:before,
.tau-board-unit_type_testruns-counter-open-total:before,
.tau-board-unit_type_testruns-counter .tau-board-unit__value,
.tau-board-unit_type_testrun-id:before {

    color: rgb(183,135,79);
    background: #f1e8df;

}



/* 'Impediment' colors
----------------------------------------------------------------------------------------------------*/

.tau-card-v2_type_impediment:before,
.tau-list-impediment > .tau-list-line > .tau-elems-table .tau-drag-handler,
._tc-timeline-navigator > .tc-histogram > .tc-item > .tc-meter.tc-impediment {

    background-color: rgb(138,33,37);

}

._tc-timeline-navigator > .tc-histogram > .tc-item > .tc-meter.tc-impediment {

    box-shadow: 1px 0 0 rgba(138,33,37,0.6);

}



.tau-board-unit_type_impediments-counter .tau-board-unit__value {

    color: #fff;
    background-color: rgb(138,33,37);

}



/* 'Release' colors
----------------------------------------------------------------------------------------------------*/

.tau-card-v2_type_release:before,
.tau-btn.tau-release:before,
.tau-list-release > .tau-list-line > .tau-elems-table .tau-drag-handler,
._tc-timeline-navigator > .tc-histogram > .tc-item > .tc-meter.tc-release {

    background-color: rgb(153,153,153);

}

._tc-timeline-navigator > .tc-histogram > .tc-item > .tc-meter.tc-release {

    box-shadow: 1px 0 0 rgba(153,153,153,0.6);

}



.tau-board-unit_type_release:before,
.tau-board-unit_type_release-id:before {

    color: rgb(153,153,153);
    background: #e7e7e7;

}



/* 'Iteration' + 'Team Iteration' colors
----------------------------------------------------------------------------------------------------*/

.tau-card-v2_type_iteration:before,
.tau-btn.tau-iteration:before,
.tau-list-iteration > .tau-list-line > .tau-elems-table .tau-drag-handler,
._tc-timeline-navigator > .tc-histogram > .tc-item > .tc-meter.tc-iteration,
.tau-card-v2_type_teamiteration:before,
.tau-btn.tau-teamiteration:before,
.tau-list-teamiteration > .tau-list-line > .tau-elems-table .tau-drag-handler,
._tc-timeline-navigator > .tc-histogram > .tc-item > .tc-meter.tc-teamiteration {

    background-color: rgb(138,192,240);

}

._tc-timeline-navigator > .tc-histogram > .tc-item > .tc-meter.tc-iteration,
._tc-timeline-navigator > .tc-histogram > .tc-item > .tc-meter.tc-teamiteration {

    box-shadow: 1px 0 0 rgba(138,192,240,0.6);

}



.tau-board-unit_type_iteration:before,
.tau-board-unit_type_iteration-id:before,
.tau-board-unit_type_teamiteration:before,
.tau-board-unit_type_teamiteration-id:before {

    color: rgb(138,192,240);
    background: #e6f2fd;

}



/* 'Build' colors
----------------------------------------------------------------------------------------------------*/

.tau-card-v2_type_build:before,
.tau-btn.tau-build:before,
.tau-list-build > .tau-list-line > .tau-elems-table .tau-drag-handler,
._tc-timeline-navigator > .tc-histogram > .tc-item > .tc-meter.tc-build {

    background-color: rgb(68,145,144);

}

._tc-timeline-navigator > .tc-histogram > .tc-item > .tc-meter.tc-build {

    box-shadow: 1px 0 0 rgba(68,145,144,0.6);

}



.tau-board-unit_type_build:before,
.tau-board-unit_type_build-id:before {

    color: rgb(68,145,144);
    background: #e0eded;

}



/* 'Project Member' colors
----------------------------------------------------------------------------------------------------*/

.tau-card-v2_type_projectmember:before,
.tau-btn.tau-projectmember:before,
.tau-list-projectmember > .tau-list-line > .tau-elems-table .tau-drag-handler,
._tc-timeline-navigator > .tc-histogram > .tc-item > .tc-meter.tc-projectmember {

    background-color: rgb(253,172,183);

}

._tc-timeline-navigator > .tc-histogram > .tc-item > .tc-meter.tc-projectmember {

    box-shadow: 1px 0 0 rgba(253,172,183,0.6);

}