.form-control {
	font-family: OpenSans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	display: inline-block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	margin: 0;
	border: 1px solid #fff;
	padding: 0 4px;
	width: 210px;
	height: 24px;
	color: #16343b;
	background: #fff;
	border-radius: 5px;
}

.form-select {
	font-family: OpenSans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	display: inline-block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	margin: 0;
	border: 1px solid #3e94e0;
	padding: 0 4px;
	width: 210px;
	height: 24px;
	color: #3D94E1;
	background: #fff;
	border-radius: 5px;
	text-align: center;
}

.btn-switch {
	display: table;
}

.btn-switch > .btn {
	line-height: 26px;
	border: 1px solid #bdc6d3;
	border-radius: 0;
	color: #bdc6d3;
	text-align: center;
	padding: 0 20px;
	display: table-cell;
	box-sizing: border-box;
}

.btn-switch > .btn-checked {
	background: #bdc6d3;
	color: #fff;
}

.btn-switch > .btn:first-child {
	border-radius: 5px 0 0 5px;
}

.btn-switch > .btn:last-child {
	border-radius: 0 5px 5px 0;
}