@import "./reset.css";
@import "./entity-colors.css";

html, body {
	height: 100%;
}

body {
	max-width: 100%;
	overflow: hidden;
	position: relative;
	background: #E9ECF0;
	margin: 0;
}

.l-view {
	position: relative;
	height: 100%;
}

.l-page {
	position: relative;
	top: 0;
	height: 100%;
	left: 0;
	overflow-y: hidden;
}

.l-page_expanded {
	left: calc(100% - 33px);
}

.board-selector {
	position: absolute;
	display: none;
	bottom: 0;
	top: 0;
	left: 0;
	width: calc(100% - 33px);
}

.board-selector .l-header {
	height: auto;
}

.board-selector_expanded {
	display: block;
}

.l-header {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 42px;
	z-index: 1;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	color: rgba(255, 255, 255, 0.8);
	background: #383f4a;
}



