<b:style src="layout.css" />

<div class="view view_{expand}">
    <div class="menu">
        <div class="context">place for context</div>
        <!--{boardList}-->
        <!--{loggedUser}-->
    </div>
    <div class="page">
        <div class="bar-header"><!--{toggleMenu}--></div>
        <!--{boardGrid}-->
    </div>
</div>
