<b:style src="./fonts.css"/>
<b:style src="./typograpy.css"/>
<b:style src="./forms.css"/>
<b:style src="./layout.css"/>

<div class="l-view l-view_{open}">
    <div class="board-selector board-selector_{expanded}">
        <div class="l-header">
            <b:include src="./context-filter.tmpl"/>
            <b:include src="./search.tmpl"/>
        </div>
        <!--{boardList}-->
        <!--loggedUser-->
    </div>
    <div class="l-page l-page_{expanded}" event-click="hideMenu">
        <div class="l-header">
            <b:include src="./toggle-menu-button.tmpl"/>
        </div>
        <!--{boardGrid}-->
    </div>

        <!--<div class="view_wrap view_wrap_{expanded}">-->
                <!--<b:include src="./../../module/view/template/view.tmpl"/>-->
        <!--</div>-->


</div>
