<b:style src="./layout.css" />

<div class="view">
    <div class="menu menu_{menuExpanded}">
        <div class="context">place for context</div>
        <!--{boardList}-->
        <!--{loggedUser}-->
    </div>
    <div class="page page_{menuExpanded}" event-click="hideMenu">
        <div class="bar-header">
            <b:include src="./toggle-menu-button.tmpl"/>
        </div>
        <!--{boardGrid}-->
    </div>
</div>
