<b:style src="./toggle-menu-button.css" />

<button class="toggle-menu-button" event-click="toggleMenu">
    <span class="toggle-menu-button__icon"></span>
    <span class="toggle-menu-button__icon"></span>
    <span class="toggle-menu-button__icon"></span>
</button>
