.toggle-board-selector {
    cursor: pointer;
    width: 38px;
    height: 32px;
	left: 0;
	top:7px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    background:none;
    position: absolute;

}

.toggle-board-selector:before {
    content:'';
    display: block;
    position: absolute;
    top: 7px;
    left: 7px;
    background: url(./images/icon-left-slide.png) 0 0 no-repeat;
    width: 22px;
    height: 16px;

}
