<b:style src="./attachments.css"/>
<div class="attachments">
    <div class="attachments__item">
        <div class="attachments__table">
            <div class="attachments__img">
                <img src="src/app/template/images/img.png" alt=""/>
            </div>
            <div class="attachments__text">
                <span class="attachments__text-name">home-screen-v2.png</span><br/>
                <span class="attachments__text-user">by Bob Marley on 18-11-2013</span></div>
        </div>
        <div class="attachments__icon-remove">
            <div class="icon-svg icon-remove"></div>
        </div>
    </div>
</div>
