<b:style src="./comments.css"/>

<div class="comments">
    <div class="comment__item">
        <p><span class="comment__name">@userName</span> Just chillin' and
            buildin'. Assets for the PSDs are
            almost done. Just have about a
            dozen items left.</p>

        <div class="comment__attach-file">
            <span class="icon-svg icon-attachment"></span>home-screen-v2.png
        </div>
    </div>
<div class="comment__user">
<div class="comment__date">Sun, Sep 22, 4:18 PM</div>
<div class="comment__avatar"><img src="src/app/template/images/img.png" alt=""/></div>Bob Marley</div>
</div>