.description {
}

.description__title {
	text-transform: uppercase;
	background: #d1d5dd;
	padding: 10px 10px 0 10px;
	line-height: 40px;
	border-bottom: 1px solid #bdc6d2;
}

.description__text {
	padding: 15px 10px;

	border-bottom: 1px solid #bdc6d2;
}

.description__text > p:not(:first-child) {
	margin-top: 10px;
}