<b:style src="./description.css"/>
<div class="description">
    <div class="description__title">Desctiption</div>
    <div class="description__text">
        <p> Bob Marley on 18-11-2013home-screen-v2.png by Bob Marley on 18-11-2013home-screen-v2.pnghome-screen-v2.png
            by Bob Marley on 18-11-2013home-screen-v2.png by Bob Marley on
            18-11-2013home-screen-v2.pnghome-screen-v2.png by Bob Marley on 18-11-2013home-screen-v2.png by Bob Marley
            on 18-11-2013home-screen-v2.png</p>

        <p>home-screen-v2.png by Bob Marley on 18-11-2013</p>
    </div>
</div>