<b:style src="./view-tabs.css"/>
<div class="view-tabs">
    <span class="icon-svg icon-arrow-open"></span>
    <ul class="view-tabs__list">
        <li class="view-tabs__item">Info</li>
        <li class="view-tabs__item">Comments<span class="view-tabs__counter">3</span></li>
        <li class="view-tabs__item">Attachments<span class="view-tabs__counter">2</span></li>
    </ul>
</div>