<b:style src="cards-v2.css"/>
<b:style src="board_units.css"/>
<div class="tau-card-v2 tau-card-v2_type_{type}">
    <div class="tau-card-v2__section">
        <div class="tau-board-unit tau-board-unit_format_max tau-board-unit_alignment_base tau-board-unit_type_entity-name">
            <div class="tau-board-unit__value tau-name">{name}</div>
        </div>
    </div>
</div>