<b:style src="./popup-bubble.css" />
<div class="popup-bubble popup-bubble_bottom popup-filterProjectAndTeam">
    <div class="popup-bubble__arrow" style="left:calc(50% - 8px);"></div>
    <div class="popup-bubble__body">
        <!--{childNodesHere}-->
    </div>
</div>