<b:resource src="toggle-menu.css" />
<button type="button" class="toggle-menu" event-click="toggle">
    <span class="toggle-menu__icon"></span>
    <span class="toggle-menu__icon"></span>
    <span class="toggle-menu__icon"></span>
</button>