<b:style src="list.css"/>

<b:include src="app.ui.UpdatableNode" class="board-list__wrap">
    <b:replace ref="content">
        <ul{childNodesElement} class="board-list"/>
    </b:replace>
</b:include>