<b:style src="./list.css"/>

<b:include src="app.ui.UpdatableNode" class="board-list-panel">
    <b:replace ref="content">
        <ul{childNodesElement} class="board-list"/>
    </b:replace>
</b:include>
