.search {
	padding: 0 0 5px 5px;
	position: absolute;
	top: 42px;
	left: 0;
	right: 0;
	bottom: 0;
	background: #383f4a;
	height: 28px;
	z-index: 1;
}

.search > .icon-search {
	position: relative;
	display: inline-block;
	top: 5px;
	margin-left: 7px;
}

.search > .form-control {
	width: calc(100% - 30px);
}