<b:style src="updatableList.css"/>
<div class="board-list__wrap" style="-webkit-transform: translate(0px, {offsetY}px) scale(1) translateZ(0px);">
    <div id="pullDown" class="{flip} {state}">
        <span class="pullDownIcon"></span>
        <span class="pullDownLabel">{caption}</span>
    </div>
    <!--{list}-->
</div>
